<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>CMESBAHF 4 COVID</title>
</head>
<body>
    <div>
        <div class="main container jumbotron">
            <h1>For CMESBAHF</h1>
            <p>Add Lat and Long to your File (Downloaded from covid19hg.org) </p>
        </div>
        <div class="container">
            
            <form action="" method="post" enctype="multipart/form-data">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" value="Submit">
                
            </form>
            <div class="panel panel-default">
                <div class="panel-body">
                  This web app is based on bedTools: a powerful toolset for genome arithmetic.
                  <ul>
                      <li> <a href="https://bedtools.readthedocs.io/en/latest/">Manual</a></li>
                      <li><a href="https://pubmed.ncbi.nlm.nih.gov/20110278/">Reference</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>