<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>BEDWEB</title>
</head>
<body>
    <div>
        <div class="main container jumbotron">
            <h1>Two Files Operation</h1>
            <p>Want to Perform operation on One file, <a href="/oneFile">Click here</a></p>
        </div>
        <div class="container">
            <p>I want to </p>
            <form action="" method="post" enctype="multipart/form-data">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" value="Submit">
                <p></p>
                <p>
                            
                         
                </p>
            </form>
            
            <div class="panel panel-default">
                <div class="panel-body">
                    This web app is based on bedTools: a powerful toolset for genome arithmetic.
                    <ul>
                        <li> <a href="https://bedtools.readthedocs.io/en/latest/">Manual</a></li>
                        <li><a href="https://pubmed.ncbi.nlm.nih.gov/20110278/">Reference</a></li>
                    </ul>
                </div>
              </div>
        </div>
        
    </div>
    

    {% if output %} <p> {{ output }} </p> {% endif %}

</body>
</html>